html {
	box-sizing: border-box;
	height: 100%;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	font-family: Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI',
		'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body,
#root {
	min-height: 100%;
}

// @import "bootstrapCustom";
@import 'bootstrap/scss/bootstrap';

// commons
@import 'common';

// components
@import 'components/LoadingSpinner';

// pages
@import 'pages/LoginPage';
@import 'pages/TeacherDashboard';
@import 'pages/TeacherQuestions';
